i.icon, i.icons {
	font-size:2em;
}
select {
	color:black;
}
.background{
	background-image: url(https://unsplash.it/458/354?image=1083);
	background-size:cover;
	background-repeat:no-repeat;
	height:600px;
}
footer {
	background-color:black;
}